th, td {
    padding: 15px;
    text-align: center;
    border: 1px solid #ddd;
}
th {
    background-color: #075028;
    color: white;
}
.table_header{
    color: #19c965;
}
td{
    color: #8ff0b9;
}
.userList, .userList table {
    width: 100%;
}
.userList div[id*="DataTables_Table"] {
    color: #c4f2d9;
}
.userList div[id*="DataTables_Table"] select{
    background: #7d7c7c;
    color: #ffff;
}
.userList .dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
.userList .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
.userList .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    cursor: default;
    color: #ffff !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none;
}
.userList .dataTables_wrapper .dataTables_paginate .paginate_button.current,
.userList .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    color: #e4eede !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(230, 230, 230, 0.1);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.1) 0%, rgba(0, 0, 0, 0.1) 100%);
}
.userList  .dataTables_wrapper .dataTables_paginate .paginate_button {
    color: #b6aeae !important;
}
.userList table.dataTable thead th{
    text-align: center;
}
#user_creation .btn-primary,
.user_creation .btn-primary{
    --bs-btn-color: #fff;
    --bs-btn-bg: #022d05;
    --bs-btn-border-color: #ffff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #022d05;
    --bs-btn-hover-border-color: #022d05;
    --bs-btn-focus-shadow-rgb: 53, 141, 58;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #022d05;
    --bs-btn-active-border-color: #022d05;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #022d05;
    --bs-btn-disabled-border-color: #022d05;
}
.user_creation .modal-dialog .modal-content{
    background-color: #282c34;
}
.user_creation .modal-dialog .modal-header{
    color: #19c965;
    padding-left: 199px;
}
.user_creation .modal-dialog .modal-content{
    color: #FFFF;
}
.user_creation input[type=text], select, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
.user_creation label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.user_creation .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.user_creation .col-75 {
    float: left;
    width: 75%;
    margin-top: 16px;
}
.user_creation .row:after {
    content: "";
    display: table;
    clear: both;
}
.userList input[type=search] {
    color: #fff;
}